@model IEnumerable<Vidéothèque.Models.Movie>
@{
    ViewBag.Title = "Newly Added";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                @foreach (var movie in Model)
                {
                    <div class="card" style="width: 118rem;">
                        <div class="col-md-3">
                            <div class="card mb-3 shadow-sm">
                                @if (movie.ImagePath == null)
                                {
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                }
                                else
                                {
                                    <img src="~/Images/@movie.ImagePath" width="265" height="225" />
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@Html.ActionLink(movie.Title, "Details", "Home", new { id = movie.Id }, null)</h5>
                                    <h6>@movie.MovieGenre.Name</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>